.card {
  background-color: pink;
  padding: 18px;
  border: 4px solid black;
  border-radius: 16px;

  .image_container {
    height: 220px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      border-radius: 16px;
    }
  }
}
